/* Main Container Design */
body{
  height: 100vh;
  width:100vw;
  background-color: skyblue;
}

.App{
  display: flex;
  height:100vh;
  width:100vw;
  justify-content: center;
  align-items: center;
}


/* Price plan Container Styles */

.plan_container{
  height:40rem;
  width:30rem;
  /* border: black 2px solid; */
  display:flex;
  flex-direction:column;
  margin-right: 1.5rem;
  border-radius:20px;
  align-items: center;
  background-color:white;  
  transition: all 0.2s;
}
/* Hover Effect */
.plan_container:hover {
  margin-top: -.25rem;
  margin-bottom: .25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

.price_part{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height:10rem;
  width:29.8rem;
  align-items: center;
  border-bottom: darkgray 2px solid;
}

.plan_name{
  font-size:1rem;
  color: darkgray;
  text-transform:uppercase;
}

.price{
  font-size:3rem;
  color:black;
  font-weight:bold;
}

/* details container */
.details_part{
  margin-top: 2rem;
  /* border:black solid 2px; */
  width:27rem;
  height:auto;
}

button{
  width:27rem;
  height:3rem;
  /* font-size: 10rem; */
}

/* List part */
.list_part{
  list-style: none;
}

.list_item{
  margin-top:5px;
  font-size:1.5rem;
}

.not_checked_item{
  color: darkgray;
}

/* Responsive */

@media screen and (max-width: 500px){

  .App{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width:100vw;
  }

  .plan_container{
    height:auto;
    width:20rem;
    /* border: black 2px solid; */
    display:flex;
    flex-direction:column;
    margin-bottom: 1rem;
    border-radius:20px;
    align-items: center;
    background-color:white;  
    transition: all 0.2s;
  }
  
  .price_part{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:5rem;
    width:14.9rem;
    align-items: center;
    border-bottom: darkgray 2px solid;
  }
  
  .plan_name{
    font-size:1rem;
    color: darkgray;
    text-transform:uppercase;
  }
  
  .price{
    font-size:1.5rem;
    color:black;
    font-weight:bold;
  }
  
  /* details container */
  .details_part{
    margin-top: 2rem;
    /* border:black solid 2px; */
    width:13.5rem;
    height:auto;
  }
  
  button{
    width:13.5rem;
    height:1.5rem;

    /* font-size: 10rem; */
  }
  
  /* List part */
  .list_part{
    list-style: none;
  }
  
  .list_item{
    margin-top:5px;
    font-size:1rem;
  }
  
}